
.PokemonCard > img{
    height: 75px;
}
.PokemonCard{
    margin: 2px;
    height: 125px;
    width: 125px;
    padding: 10px;
    
    border: solid 1px black;
}
.TheBigContainer{
    width: 100%;
    display: flex;
}